head
  title 하루 하나
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

body
  #viewport
    .page.current-page#page-main
      .menu.txt
        .wrapper
          i.ion-ios-gear-outline

      .quote-wrapper.active
        .quote.txt
          | "서두르지 말라. <br/> 그러나 쉬지도 말라."
        .author.txt
          | - 괴테
      .quote-wrapper
        .quote.txt
          | "가난한 사람이란 적게 가진 자가 아니라, 너무 많이 가지려는 자이다."
        .author.txt
          | - 세네카
      .quote-wrapper
        .quote.txt
          | "시작이 반이다."
        .author.txt
          | - 아리스토텔레스
      .quote-wrapper
        .quote.txt
          | "슴가 하앍.. 낼름.."
        .author.txt
          | - 말리부 스튜디오

    .page#page-settings
      .close
        i.ion-ios-close-empty

      .settings-container

        .theme-container

          .settings-title
            | 테마선택

          .theme-list
            .theme-item(data-theme="default")
              .theme-thumb.default

            .theme-item(data-theme="red")
              .theme-thumb.red

            .theme-item(data-theme="blue")
              .theme-thumb.blue